* {
  box-sizing: border-box;

}
body {
  height: 100vh;
  margin: auto;
  font-family: "IBM Plex Sans", sans-serif;
  box-shadow: 10px 10px;
}

h1 {
  font-size: 40px;
  color: aliceblue;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
  color: aliceblue;

}

h4 {
  font-size: 25px;
  color: aliceblue;
}

h5 {
  font-size: 20px;
  color: aliceblue;
}

h6 {
  font-size: 15px;
  color: aliceblue;
}

.ribbon {
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(17, 73, 110);
  box-shadow: 10px 10px;

} 

.banner {
  margin: auto;
  font-size: 50px;
}

.button {
  background-image: linear-gradient(rgba(149, 165, 166,1.0),rgb(17, 73, 110));
  color:aliceblue;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-shadow: 5px 5px rgba(149, 165, 166,1.0);
}

.search-box {
  box-shadow: 5px 5px rgb(17, 73, 110);
}

.current-icon {
  height: 30em;
  width: 30em;
}

.future-block {
  justify-content: space-around;
  margin: auto;
}

.future-block .column {
  background-image: linear-gradient(rgba(149, 165, 166,1.0),rgb(17, 73, 110));
  border: 1px solid ;
  border-radius: 5px;
  margin: 0px 10px;
  box-shadow: 10px 10px;
}

.future-icon {
  height: 10em;
  width: 10em;
}

.current-weather  {
  background-image: linear-gradient(rgba(189, 195, 199,1.0),rgb(17, 73, 110));
  box-shadow: 10px 10px;
  padding: 60px;
}

#search-city {
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 5px;
}

#current-city {
  color: black;
  font-size: 60px;
}
