* {
  box-sizing: border-box;

}

:root {
  --primary: #44e9ff;
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
  font-size: 62.5%;
}

body {
  /* background-color: var(--primary); */
  /* height: 100vh; */
  margin: auto;
  /* padding: 0; */
  font-family: "IBM Plex Sans", sans-serif;
  /* color: var(--dark); */
  /* line-height: 1.5; */
  /* font-size: 16px; */
  /* text-align: center; */
  /* margin: auto; */
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

.ribbon {
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(196, 192, 192);
} 
.banner {
  margin: auto;
  font-size: 50px;
}

.button {
  font-size: 20px;
}

.future-block {
  justify-content: space-around;
  margin: auto;
}

.future-block .column {
  background-color: rgb(131, 128, 128);
  border: 1px solid ;
  border-radius: 5px;
  margin: 0px 10px;
  /* padding: 20px; */
}

/* @media screen and (max-width: 575px) {
  .search-box{
    justify-content: start;
  }
  
} */