* {
  box-sizing: border-box;
}

:root {
  --primary: #44e9ff;
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
  font-size: 62.5%;
}


body {
  /* background-color: var(--primary); */
  /* height: 100vh; */
  margin: auto;
  /* padding: 0; */
  font-family: "IBM Plex Sans", sans-serif;
  /* color: var(--dark); */
  /* line-height: 1.5; */
  /* font-size: 16px; */
  /* text-align: center; */
  /* margin: auto; */
}

h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

.banner {
  font-size: 40px;
  margin: auto;
}

.future-block {
  justify-content: space-around;
  margin: auto;
}

.future-block .column {
  background-color: rgb(131, 128, 128);
  
  margin: 0px 10px;
  /* padding: 20px; */
}